body *, body *:before, body *:after { box-sizing: inherit; }
body {
  box-sizing: border-box;
  font-size: 12px;
  margin: 0px;
  background-color: pink;
}

.home {
  display: flex;
  flex-flow: column;
  align-items: center;
  background: pink;
  height: 100vh
}
