
.index-section-one{
  padding: 0% 10% 0% 10%;
}

header,  .index-section-one, .index-section-two, .section-three, .section-four, .section-five {
  display: flex;
  font-family: Roboto;
}


.header-image {
  display:flex;
  min-height:45vh;
  width:100%;
  background-image: url("./overview2.jpg");
  background-size:cover;
  background-repeat: space;
  padding:1rem;
  justify-content: center;
}

.workflow-title {
  width:20rem;
  align-self: center;
  padding:5rem 0rem 0rem 0rem;
  margin-top: 1rem;
}

.index-section-one {
  display: flex;
  flex-wrap:wrap;
  justify-content: space-between;
  max-height:auto;
  padding:2%;
  background-color:#f5f5f6;
}

.index-page-row {
  display:flex;
  justify-content: space-around;
  width:100%;
  padding:0 10rem;
  flex-wrap: wrap;
}

.feature{
  height:auto;
  display:flex;
  flex-wrap:wrap;
  justify-content: center;
  align-items: center;
  padding:1.5rem;
  text-align:center;
  margin:20rem;
}



.feature-subtitle {
  width:100%;
  font-size:1rem;
  font-weight: normal;
  color:#424242
}


.feature-paragraph {
  width:100%;
  font-size:1rem;
  font-weight: normal;
  color:#00BFA5;
  padding-top:1.5rem
}

.index-section-two {
  display: flex;
  flex-wrap:wrap;
  justify-content: center;
  padding:2%;
  font-family: Roboto;
}

.index-page-two-row {
  display:flex;
  justify-content: center;
  width:100%;
  padding: 2rem;
}

.index-signup{
  height:auto;
  display:flex;
  flex-wrap:wrap;
  justify-content: center;
  align-items: center;
  padding:0.2rem;
  text-align:center;
  margin:20rem;
}

.signup-now {
  color:#000;
  font-size:2rem;
  padding-bottom: 2rem;
}

.index-section-three {
  display: flex;
  flex-wrap:wrap;
  justify-content: center;
  font-family: Roboto;
  background-color: #3f3f3f;
}

.index-page-three-row {
  display:flex;
  justify-content: center;
  width:100%;
  padding: 2rem;
}



.middlewhere {
  color:#fff;
  font-size:1.5rem;
}

.best-team {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  padding-bottom: 2rem;
}

.team-images {
  color:#e1e1e1;
  font-size: 1rem;
  padding: 0.8rem;
}

@media only screen and (min-width: 641px) {

}

@media only screen and (min-width: 1025px) {

}
