.signup {
  display:flex;
  flex:1;
  justify-content: center;
}

.paper-frame {
  padding:2rem;

}

.button-pad {
  margin:1rem;
}

@media only screen and (min-width: 641px) {
  .paper-frame {
    padding:0;
  }
}
