body *, body *:before, body *:after { box-sizing: inherit; }
body {
  box-sizing: border-box;
  font-size: 12px;
  margin: 0px;
}

a {
  text-decoration: none !important;
  color: inherit;
}

.App {
  display: flex;
  flex-flow: column;
  align-items: center;
  background: #fff;
  height: 100vh
}


.settings-icon, .menu-icon {
  transition: 0.5s;
  cursor: pointer;
}

.settings-icon:hover, .menu-icon:hover {
  color: DarkOliveGreen;
}
