.tasks {
    flex: 1;
}

.home {
  display: flex;
  flex-wrap:wrap;
}

.single-proj {
  padding:2%;

}

.project-card{
  text-align: center;
  padding-top: 5.7rem;
}

.project-card-title {
  max-width: 80%;
}

.project-edit-button {
  position: absolute;
  right:0px;
  bottom: 0px;
  padding:10px;
  z-index: 10;
}


.project-card-desc {
  display:flex;
  flex-direction: row;
  flex-wrap:wrap;
  justify-content: center;
}

.desc-width {
  max-width: 100%;
  padding-top:0px!important;
  padding-bottom:40px !important;
}

.project-card-relative{
  position:relative;
  padding-top:30px;
}

.overlay-style {
  padding-top:50px;

}


/*.project-card-avatar {
  position: absolute;
  right:20px;
  top: 5px;
}*/
