

.tasks {
  display: flex;
  flex-wrap:wrap;
  flex: 1;
}

.home {
  display: flex;
  flex-wrap:wrap;
}

.single-proj {
  padding:2%;

}

.task-card{
  text-align: center;
  padding:0;
}

.card-title {
  max-width: 80%;
}
