

.tasks {
  display: flex;
  flex-wrap:wrap;
  flex: 1;
}

.home {
  display: flex;
  flex-wrap:wrap;
}

.single-proj {
  padding:2%;

}

.task-card{
  text-align: center;
  padding:10;
}

.task-edit-button {
  position: absolute;
  left:0rem;
  top:0rem;
  padding:10px;
  z-index: 10;

}

.task-card-desc {
  display:flex;
  flex-direction: row;
  flex-wrap:wrap;
  justify-content: center;
}

.task-width {
  max-width: 100%;
  padding-top:0px!important;
  padding-bottom:40px !important;
}

.desc-width {
  max-width: 100%;
}

CardText {
  color:red;
}
