

.tasks {
  display: flex;
  flex-wrap:wrap;
  flex: 1;
}

.home {
  display: flex;
  flex-wrap:wrap;
}

.single-proj {
  padding:2%;

}

.task-card{
  text-align: center;
  padding:0;
}

.task-edit-button {
  position: absolute;
  left:15px;
  top:10px;
}

.task-card-desc {
  display:flex;
  flex-direction: row;
  flex-wrap:wrap;
  justify-content: center;
}

.desc-width {
  max-width: 100%;
}
